<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyai.client.base.mapper.ChatModelMapper">

    <resultMap type="ChatModel" id="ChatModelResult">
        <result property="id"    column="id"    />
        <result property="platform"    column="platform"    />
        <result property="modelName"    column="model_name"    />
        <result property="version"    column="version"    />
        <result property="temperature"    column="temperature"    />
        <result property="maxTokens"    column="max_tokens"    />
        <result property="maxContext"    column="max_context"    />
        <result property="price"    column="price"    />
        <result property="orderNum"    column="order_num"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectChatModelVo">
        select id, platform, model_name, version, temperature, max_tokens, max_context, price, order_num, status, create_time, update_time from easyai_chat_model
    </sql>

    <select id="selectChatModelList" parameterType="ChatModel" resultMap="ChatModelResult">
        <include refid="selectChatModelVo"/>
        <where>
            <if test="platform != null  and platform != ''"> and platform = #{platform}</if>
            <if test="modelName != null  and modelName != ''"> and model_name like concat('%', #{modelName}, '%')</if>
            <if test="version != null  and version != ''"> and version = #{version}</if>
            <if test="temperature != null "> and temperature = #{temperature}</if>
            <if test="maxTokens != null "> and max_tokens = #{maxTokens}</if>
            <if test="maxContext != null "> and max_context = #{maxContext}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectChatModelById" parameterType="Long" resultMap="ChatModelResult">
        <include refid="selectChatModelVo"/>
        where id = #{id}
    </select>

    <insert id="insertChatModel" parameterType="ChatModel" useGeneratedKeys="true" keyProperty="id">
        insert into easyai_chat_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="platform != null and platform != ''">platform,</if>
            <if test="modelName != null and modelName != ''">model_name,</if>
            <if test="version != null">version,</if>
            <if test="temperature != null">temperature,</if>
            <if test="maxTokens != null">max_tokens,</if>
            <if test="maxContext != null">max_context,</if>
            <if test="price != null">price,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="platform != null and platform != ''">#{platform},</if>
            <if test="modelName != null and modelName != ''">#{modelName},</if>
            <if test="version != null">#{version},</if>
            <if test="temperature != null">#{temperature},</if>
            <if test="maxTokens != null">#{maxTokens},</if>
            <if test="maxContext != null">#{maxContext},</if>
            <if test="price != null">#{price},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateChatModel" parameterType="ChatModel">
        update easyai_chat_model
        <trim prefix="SET" suffixOverrides=",">
            <if test="platform != null and platform != ''">platform = #{platform},</if>
            <if test="modelName != null and modelName != ''">model_name = #{modelName},</if>
            <if test="version != null">version = #{version},</if>
            <if test="temperature != null">temperature = #{temperature},</if>
            <if test="maxTokens != null">max_tokens = #{maxTokens},</if>
            <if test="maxContext != null">max_context = #{maxContext},</if>
            <if test="price != null">price = #{price},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteChatModelById" parameterType="Long">
        delete from easyai_chat_model where id = #{id}
    </delete>

    <delete id="deleteChatModelByIds" parameterType="String">
        delete from easyai_chat_model where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
