<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyai.client.custom.mapper.UserCardLogCustomMapper">

    <resultMap type="UserCardLog" id="UserCardLogResult">
        <result property="userCardId"    column="user_card_id"    />
        <result property="category"    column="category"    />
        <result property="email"    column="email"    />
        <result property="cardKey"    column="card_key"    />
        <result property="reward"    column="reward"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectUserCardLogVo">
        select user_card_id, category, email, card_key, reward, create_time from easyai_user_card_log
    </sql>

    <select id="selectUserCardUsedList" resultMap="UserCardLogResult">
        <include refid="selectUserCardLogVo"/>
        where email=#{email}
    </select>
</mapper>
